.header nav ul{
    display: flex;
}

.header nav ul li a{
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header nav ul li a:hover{
    color: #fff;
    background-color: coral;
}

/* RESPONSIVE */ 

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburguer{
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before{
    top: -10px; /* Aqui serve para fazer o primeiro risco do sanduiche */ 
}

.header .hamburguer:after{
    bottom: -10px; /* Aqui serve para fazer o terceiro risco do sanduiche.
    O segundo ele é criado automaticamente */ 
}

.header input{
    display: none; /* Oculta o checkbox */ 
}

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg); /* Rotação do elemento todo tanto do before quanto do after */ 
}

.header input:checked ~ label .hamburguer:before{
    transform: rotate(90deg); /* Rotação apenas do primeiro risco do sanduiche */
    top: 0; /* Deixa o risco de baixo alinhado com o risco de cima, fazendo com que eles se juntam. */ 
}

.header input:checked ~ label .hamburguer:after{
    transform: rotate(90deg); /* Rotação apenas do terceiro risco do sanduiche */
    bottom: 0; /* Deixa o risco de cima alinhado com o risco debaixo, fazendo com que eles se juntam. */ 
}

@media(max-width: 900px){
    .header .menu{
        display:block; /* ativa o sanduiche */
    }

    .header nav ul{
        display: none; /* Faz os elementos da lista ficarem ocultos */
    }

    .header input:checked ~ ul{
        display: block; /* ativa o menu e feaz aparecer os elementos da ul um embaixo do outro */
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1; /* Faz com os elementos do nav sobreponhas ou seja fique por cima da página principal, basicamente ele cria uma camada só para ele. */
    }

    .header nav ul{
        width: 200px;
        background-color: #fff;
        padding: 20px;
    }

    .header nav ul a{
        text-align: center;
        padding: 20px;
        display: block; /* Juntamente com o padding que está acima faz os espaçamentos envolta dos itens. */ 
    }
}