html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header{
    grid-area: header;
    background-color: #fff;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
}

.header a:hover h1{
    color: coral;
    transition: 0.3s;
}

.hero{
    grid-area: hero;
    background-color: bisque;
}

.about{
    grid-area: about;
    background-color: blue;
}

.services{
    grid-area: services;
    background-color: pink;
}

.projects{
    grid-area: projects;
    background-color: aliceblue;
}

.footer{
    grid-area: footer;
    background-color: red;
}